* {
    font-family: 'Plus Jakarta Sans';
}

body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

.hr-top {
    width: 25%;
    color: black;
}

/* Navigation Bar */
.navbar {
    cursor: pointer;
}

.nav-btn {
    color: black;
    font-size: 110%;
    text-decoration: none;
}

/* Home Page */
.new-entry {
    font-size: medium;
    cursor: pointer;
    padding: 0.7%;
    margin-top: 1%;
}

/* Table */
table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: auto;
}

td {
    border: 1px solid black;
    padding: 10px 20px;
}

td {
    text-align: left;
}

tr:nth-child(even) td {
    background-color: white;
}

tr:nth-child(odd) td {
    background-color: white;
}

caption {
    padding: 10px;
}

/* New/Edit Entry Page */
.backLink {
    text-align: center;
}

.form-page {
    background-color: white;
    padding: 10%;
    margin: 10%;
}

.form-title {
    padding: 1rem;
    border: solid 0.01rem;
    margin-bottom: 0;
    border-bottom: 0;
    background-color: white;
}

.entry {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: medium;
    padding: 0.3rem;
    border: solid 0.01rem;
}

.date-entry {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: medium;
    padding: 0.3rem;
    border: solid 0.01rem;
}

.btn {
    margin-top: 1%;
    margin-left: 42%;
    font-size: large;
    cursor: pointer;
    padding: 1%;
}

.btn:hover {
    filter: brightness(0.9);
}

/* Formatting for when on a smaller screen */
@media (max-width: 770px) {
    .form-page {
        background-color: white;
        padding: 2%;
        margin: auto;
    }

    .footer {
        text-align: center;
        display: block;
    }
}

/* Read only Page */
#printbtn {
    font-size: medium;
    cursor: pointer;
    padding: 0.7%;
    margin-top: 1%;
}

/* Formatting for Printing */
@media print {
    h2 {
        display: none;
    }

    .navbar {
        display: none;
    }

    .new-entry {
        display: none;
    }

    .hidden-from-print {
        display: none;
    }
}